<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/tap chief/styles.css">
</head>
<body>
    <div>   
        <h1>Tap Search. Search on-the-go</h1>
    </div>
    <h2>Enter the Text</h2>
    <span>
        <textarea rows="40" cols="100"></textarea>
         
    </span>
    <h2>Enter the Text You want to search</h2>
     <span><textarea rows="2" cols="100">
           
        </textarea>
        </span>
    <div>
        <button>Clear </button>
        <button>Search</button>
        <button>Index</button>
    </div>
</body>
</html>
