<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/tap chief/styles.css">
</head>
<body>
    <div>   
        <h1>Tap Search. Search on-the-go</h1>
    </div>
    <form action="/index" method="POST">
    <h2>Enter the Text</h2>
    <textarea
        type="text"
        name="inputtext"
        placeholder="type here"
      ></textarea>
    
    <h2>Enter the Text You want to search</h2>
    
    <textarea
        
        name="searchtext"
        placeholder="search"
      ></textarea>
      <button>Index</button>
    
    </form>
    <form action="/clear" method="POST">
        <button>Clear </button>
    </form>
    
        
    
    <form action="/search" method="POST">

        <button>Search</button>
    </form>    
</body>
</body>
</html>
